<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns="http://www.springframework.org/schema/beans" xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="com.soocedu"/>
    <!--启动spring的aop自动代理-->
    <aop:aspectj-autoproxy/>

    <!--属性文件-->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:proper.properties</value>
            </list>
        </property>
    </bean>



    <!--httpclient-->
    <import resource="applicationContext-httpclient.xml"/>
    <!--数据源-->
    <import resource="applicationContext-datasource.xml"/>
    <!-- mapper 处理-->
    <import resource="applicationContext-mybatis.xml"/>





    <!-- 线程池配置 -->
    <bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <!-- 核心线程数  -->
        <property name="corePoolSize" value="${threadPool.corePoolSize}" />
        <!-- 最大线程数 -->
        <property name="maxPoolSize" value="${threadPool.maxPoolSize}" />
        <!-- 队列最大长度 -->
        <property name="queueCapacity" value="${threadPool.queueSize}" />
        <!-- 线程池维护线程所允许的空闲时间 -->
        <property name="keepAliveSeconds" value="${threadPool.keepAliveSeconds}" />
        <!-- 线程池对拒绝任务(无线程可用)的处理策略 -->
        <property name="rejectedExecutionHandler">
            <bean class="java.util.concurrent.ThreadPoolExecutor$CallerRunsPolicy" />
        </property>
    </bean>


</beans>